<!-- <app-login-page></app-login-page>
<app-todo-page></app-todo-page> -->

    <h1>Todo Page</h1>
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="/todolist" routerLinkActive="active">Home</a></li>
      <li role="presentation"><a routerLink="/create" routerLinkActive="active">Create</a></li>
      <li role="presentation"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
<div class="row">
  <div class="col-md-12" style="margin-top: 10px">
    <router-outlet></router-outlet>
  </div>
</div>